# Python
__pycache__/
dist/
build/

# 虚拟环境
.venv/
uv.lock

# 环境变量文件
*.env

# Python 日志
logs/

# Node.js / 前端
node_modules/

# Vite
.vite/

# IDE / 编辑器
.idea/
.vscode/

# 配置文件
configs/config.yaml

# 临时文件
*.tmp
*.temp
*.bak
*.cache
temp/
search_image/
