
# llm ssl verify
LLM_SSL_VERIFY=False

FORCE_DEL_WORKFLOW_STATE=True
IS_SENSITIVE=False
SSRF_PROTECT_ENABLED=False

# =============================================================================
# DB/STORE CONFIGURATION
# =============================================================================
# 记忆相关配置（如果不使用记忆功能，可以不提供下面的参数）
EMBEDDING_MODEL_DIMENTION=1024
EMBED_API_BASE="https://api.siliconflow.cn/v1/embeddings"
EMBED_MODEL_NAME="BAAI/bge-m3"
EMBED_API_KEY=""
EMBED_TIMEOUT=5
EMBED_MAX_RETRIES=5

API_BASE='https://api.siliconflow.cn/v1/chat/completions'
API_KEY=''
MODEL_NAME='Qwen/Qwen3-8B'
MODEL_PROVIDER='siliconflow'

NEWSDATA_API_KEY=''