
LLM_PROVIDER=OpenAI
OPENAI_API_KEY=sk-修改修改apikeysk
DASHSCOPE_API_KEY=sk-修改apikey
API_BASE=https://dashscope.aliyuncs.com/compatible-mode/v1
MODEL_PROVIDER=OpenAI
LLM_MODEL=qwen2.5-72b-instruct
MAX_ITERATIONS=15
VERBOSE=true
LLM_SSL_VERIFY=false
