# LLM 配置
API_BASE=""
API_KEY=""
MODEL_PROVIDER="openai"
MODEL_NAME=""
LLM_SSL_VERIFY="false"

# EMBED模型
EMBED_API_BASE=""
EMBED_API_KEY=""
EMBED_MODEL_NAME="text-embedding-v3"
EMBED_SSL_VERIFY="false"

# 视觉模型
VISION_MODEL_NAME="qwen-vl-plus"

# 工具配置
MAX_TOOL_LOOP=5
MAX_TOOL_CONCURRENCY=1
MAX_TOOL_TRACE=30
MAX_INTERNAL_MESSAGES=30
GITCODE_ACCESS_TOKEN=""
TAVILY_API_KEY=""
BAIDU_MAP_AK=""

# 工作流配置
WORKFLOW_EXECUTE_TIMEOUT=600

# TTS相关
TTS_ENGINE=edge
TTS_VOICE=zh-CN-XiaoyiNeural
TTS_RATE=200
# zh-CN-XiaoxiaoNeural - 温柔亲切女声
# zh-CN-YunjianNeural - 沉稳大气男声
# zh-CN-YunxiNeural - 阳光活力男声