API_KEY=your-api-key  # 大模型LLM API KEY
TUSHARE_TOKEN=your-tushare-token  # TUSHARE行情数据获取KEY，需要高于8000积分，充值地址：https://tushare.pro/weborder/#/permission/buy

# SSL配置
LLM_SSL_VERIFY=false
LLM_SSL_CERT=false
TOOL_SSL_VERIFY=false
TOOL_SSL_CERT=false
